/*
 *****************************
 * 本文件要求：每个样式都写明原因 *
 *****************************
 */
/* 根据视觉稿，以下重置 Tree 节点 hover 和选中背景为固定色，不由 primary color 计算 */
.el-tree-node__content:hover {
  background: rgba(0, 0, 0, 0.04);
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: rgba(0, 0, 0, 0.08);
}
/* 根据视觉稿，Tabs 导航按钮和底色重置为固定色 */
.el-tabs__nav-next,
.el-tabs__nav-prev {
  color: rgba(0, 0, 0, 0.7);
}
.el-tabs--border-card > .el-tabs__header {
  background-color: #f5f5f5;
}
/* 根据视觉稿，进度条背景重置为固定色 */
.el-progress-bar__outer {
  background-color: #e5e5e5;
}
/* 根据视觉稿，表格相关颜色不由 primary color 计算，重置为固定色 */
.el-table {
  color: #4d4d4d;
}
/* 保证行高为36px,覆盖hui的padding: 8px 0; 以及.cell中的定高height: 19px */
.el-table th,
.el-table td {
  padding: 0;
}
.el-table .cell {
  height: auto;
}
.el-table__empty-block {
  background-color: #fbfbfb;
}
.el-table__empty-text {
  color: #999;
}
.el-table th,
.el-table__header-wrapper thead div {
  color: #4d4d4d;
  background: #fbfbfb;
}
.el-table .sort-caret.ascending {
  border-bottom-color: #ccc;
}
.el-table .sort-caret.descending {
  border-top-color: #ccc;
}
.el-table .ascending .sort-caret.ascending {
  border-bottom-color: #666;
}
.el-table .descending .sort-caret.descending {
  border-top-color: #666;
}
/* 根据视觉稿，重置为固定色 */
.el-form-item__label,
.el-checkbox {
  color: #666;
}
.el-input-group__append,
.el-input-group__prepend {
  color: #999;
}
/* 根据视觉稿，统一设置 switch on 的颜色 */
.el-switch.is-checked .el-switch__core {
  border-color: #3dbd7d !important;
  background-color: #3dbd7d !important;
}
/* 链接样式与 el-button[type="link"] 保持一致 */
a {
  color: #3879F6;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #3879F6;
  text-decoration: underline;
}
/* 业务逻辑需求 */
.el-progress[data-status="general"] .el-progress-bar__inner {
  background-color: #3875f6 !important;
}
.el-progress[data-status="warning"] .el-progress-bar__inner {
  background-color: #ff952c !important;
}
.el-progress[data-status="critical"] .el-progress-bar__inner {
  background-color: #fe5332 !important;
}
/* 解决IE下placeholder字体颜色过重问题 */
:-ms-input-placeholder.el-input__inner {
  color: #ccc;
}
