:root {
  --color-primary-grey: #494d50;
  --color-base-black-grey: color(var(--color-primary-grey) h(+6) s(33%) l(18%));
  --color-disabled-blend: color(var(--color-primary-grey) tint(50%));
  --color-primary: #e72528;
  --color-primary-light-1: color(var(--color-primary) tint(10%));
  --color-primary-light-2: color(var(--color-primary) tint(20%));
  --color-primary-light-3: color(var(--color-primary) tint(30%));
  --color-primary-light-4: color(var(--color-primary) tint(40%));
  --color-primary-light-5: color(var(--color-primary) tint(50%));
  --color-primary-light-6: color(var(--color-primary) tint(60%));
  --color-primary-light-7: color(var(--color-primary) tint(70%));
  --color-primary-light-8: color(var(--color-primary) tint(80%));
  --color-primary-light-9: color(var(--color-primary) tint(84%));
  --color-primary-light-10: color(var(--color-primary) tint(88%));
  --color-primary-light-11: color(var(--color-primary) tint(92%));
  --color-primary-light-12: color(var(--color-primary) tint(96%));
  --color-primary-dark: color(var(--color-primary) shade(10%));
  --color-base: var(--color-primary-light-6);
  --checkbox-color: var(--color-base-black-grey);
  --checkbox-checked-input-border-color: var(--color-primary-grey);
  --checkbox-checked-input-fill: var(--color-primary-grey);
  --checkbox-input-border-color-hover: var(--color-primary-grey);
  --checkbox-button-checked-fill: var(--color-primary-grey);
  --checkbox-button-checked-border-color: var(--color-primary-grey);
  --radio-checked-input-border-color: var(--color-primary-grey);
  --radio-checked-icon-color: var(--color-primary-grey);
  --radio-input-border-color-hover: var(--color-primary-grey);
  --select-option-background: color(var(--color-primary) alpha(0.2));
  --select-option-hover-background: color(var(--color-primary) alpha(0.1));
}
